<br/>
<div class="jumbotron">
<h1 class="lead">Mission HydroSci</h1>
    <h3>Downloads Page</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <a href ="MHS_MAC.zip"><h2 class="text-center"><i class="fa fa-apple fa-5x"></i></h2></a>
            <h3 class="text-center">Mac OS X - Yosemite</h3>
        </div>
        <div class="col-md-2"></div>
        <div class="text-center col-md-5">
            <a href="MHS_Win64.zip"><h2 class="text-center"><i class="fa fa-windows fa-5x"></i></h2></a>
            <h3 class="text-center">Windows 7</h3>
            <a class="text-center" href="MHS_Win32.zip">32-bit</a><br/>
            <a class="text-center" href="MHS_Win64.zip">64-bit</a>
        </div>
    </div>
</div>
